
<div class="show-page">
  <div class="show-words">
    <div class="container">
      
      <h2>Congratulations <%= @driver.first_name %>,</h2>
        <h4>Please standby for an email with a reciept confirmation number soon.</h4>
          <h4>Items you may need to gather:</h4>
        <ul>
          <li>Government or State ID</li>
          <li>Most recent Paystubs</li>
          <li>Utility Bill in your name to address on application</li>
          <li>Title to Trade-in if applicable</li>
          <li>Payoff information on Trade-in if applicable</li>
          <li>Insurance Information</li>
          <li>Your Downpayment</li>
        </ul>
        <h5>You will be contacted within 24hrs by a highly trained, successful 
            finance professional embedded in one of our many trusted local 
            dealerships with inventory ready to go!</h5>
    </div>
  </div>
</div>
 
