/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {

    background: url('CAR-DRIVING.jpeg') no-repeat center center fixed;
    background-size: cover;
    /*background: linear-gradient(to left,#32dfa8,hsl(236, 67%, 56%));*/
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
  }


.container {
    display: grid;
    grid-template-rows: [row1-start] 1fr 1fr [row1-end row2-start] 1fr 1fr [row2-end row3-start] 1fr 1fr 1fr [row3-end row4-start] 1fr 1fr 1fr [row4-end row5-start] 1fr 1fr [row5-end row6-start] 1fr 1fr [row6-end row7-start] 1fr 1fr [row7-end row8-start] 1fr 1fr 1fr [row8-end row9-start] 1fr 1fr [row9-end row10-start] 1fr [row10-end]; 
        

}



.words {
  margin-left: 5px;
  padding:10px;
  color: rgb(51, 51, 58);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-shadow:
		-.3px -.3px 0 #000,
		.3px -.3px 0 #000,
		-.3px .3px 0 #000,
		.3px .3px 0 #000;
  
}

.thumbnail {
  background-color: hsla(360, 100%, 100%, 0.7);
  /*box-shadow: 2px 2px 4px #c0c4ff;*/
  box-shadow: 3px 10px 24px #000;
  width: 70%;
  margin-left:15%;
  padding-left: 10px;
}
